#main-container {
    width: 60%;
    height: 1200px;
    background-color:0F1413;
    margin-left: 180px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#first-section {
    display: flex;
    flex-direction: column;

}
#second-section {
    background-color: #0F1413;
    border-radius: 30px;
    height: 75px;
    display: flex;
    
}

#secondSection-button {
    margin-left: 150px;
    border-radius: 30px;
    width: 120px;
    height: 55px;
    margin-top: 10px;
    background-color: #A6C8AA;
    color: #FFFFFF;


}

#third-section {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}



#fourth-section {
    background-color: #0F1413;
}

#fifth-section {
    background-color: #0F1413;
}